@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.hero,
.header,
.footer {
    background-color: #1F2937;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links,
.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

img {
    width: 200px;
}
